.navbar {
	width: 220px;
	height: 1701px;
	position: fixed; /*deixa menu fixo*/
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: -47.44%;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.navbar-toggler {
	margin-top: 7px;
	margin-left: -10px;
	border: 0px;
	cursor: pointer;
}

.menu-item-logoNome {
	position: absolute;
	width: 220px;
	height: 68px;
	background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
}

.logoNome {
	position: absolute;
	top: 0%;
	bottom: 0%;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-size: 30px;
	line-height: 35px;
	display: flex;
	align-items: center;
	text-align: center;
	width: auto;
	color: #ffffff;
	margin-left: 20px;
}

.menu-item-logo {
	position: static;
	width: 220px;
	height: 258px;
	left: 0px;
	top: 68px;
	margin-top: 50px;
}

#Logo {
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
}

.nav-item {
	display: inline-block;
	position: relative;
	width: 220px;
	height: 33px;
	border-bottom: solid 2px #e7e7e7;
	color: #0087ca;
}

.nav-link .disabled {
	color: #725c5c;
}

.nav-link {
	margin-left: 17px;
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}

.nav-item:hover {
	background-color: #fdf1eb;
}

.nav-item::after {
	content: "";
	position: absolute;
	width: 5px;
	transform: scaleX(0);
	height: 100%;
	bottom: 0;
	left: 0;
	background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
	transform-origin: bottom;
	transition: transform 0.25s ease-out;
}

.nav-item:hover::after {
	transform: scaleX(1);
	transform-origin: bottom;
}

@media (max-width: 952px) {
	.menu-item-logoNome {
		width: 100%;
	}

	.logoNome {
		font-size: 25px;
		padding-left: 50px;
	}
	.navbar {
		height: 65px;
		width: 100%;
	}
	#Logo {
		display: none;
	}
	.nav-link {
		font-size: 16px;
	}
	.navbar-toggler {
		display: block;
	}
}

/*@media (max-width: 858px) {

	.navbar {
		height: 550px;
	}

	.d-block {
		height: 100%;
		position: fixed;
	}
	  ul{
		position: fixed;
		margin-bottom: 82px;
		width: 100%;
		height: 100vh;
		background: linear-gradient(180deg, #ebd5bb 0%, #c74e0d 100%);
	 	top: 70px;
		left: 0;
		text-align: center;
		transition: all .5s; 
	} 
  	.nav-item {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	.nav-link {
		font-size: 20px;
	}

	.nav-link:active, .nav-link:hover {
		background: none;
		color: yellow;
	}  */
.header {
	position: absolute;
	width: 1140px;
	height: 68px;
	left: 220px;
	top: 0px;
	background: #fdf1eb;
}

.subtitulo {
	position: absolute;
	height: 16px;
	left: 36px;
	top: 5px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #725c5c;
}

.titulo {
	position: absolute;
	height: 26px;
	left: 36px;
	top: 23px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #725c5c;
}

.issn {
	position: absolute;
	height: 16px;
	left: 36px;
	top: 48px;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #725c5c;
}

.fa-globe {
	position: absolute;
	top: 8px;
	left: 9px;
	font-size: 15px;
}

.fa-sort-down {
	left: 79px;
	position: absolute;
	top: 4px;
	padding-right: 5px;
	font-size: medium;
}

.language {
	box-sizing: border-box;
	position: absolute;
	width: 100px;
	height: 34px;
	left: 789px;
	top: 17px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fdf1eb;
}
.select-lg {
	border: 0px;
	position: absolute;
	background-color: #fdf1eb;
	left: 30px;
	top: 3px;
}

.login {
	position: absolute;
	width: 202px;
	height: 34px;
	left: 880px;
	top: 17px;
}

.msg {
	position: relative;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-align: right;
	line-height: 18px;
	right: 10px;
}

.email {
	position: relative;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	text-align: right;
	bottom: 40px;
	right: 10px;
}

.img-login {
	position: absolute;
	margin-left: 190px;
	bottom: 9px;
}

#Login {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 7.5px;
	border-radius: 100%;
}

.badge {
	background: #f85959;
	border-radius: 10px;
	color: #fff;
	font-size: 9px;
	margin-left: 25px;
	bottom: 12px;
	position: relative;
	display: inline-block;
}

.content {
	position: absolute;
	width: 1059px;
	height: 1382px;
	left: 263px;
	top: 88px;
}

.tituloTrabalho {
	position: absolute;
	height: 54px;
	left: 0px;
	right: 273px;
	top: 0px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.05em;
	color: #ed7839;
}

.downBT {
	cursor: pointer;
	box-sizing: border-box;
	position: absolute;
	left: 79.51%;
	right: 9.16%;
	top: 0%;
	bottom: 97.76%;
	background: #ed7839;
	border-radius: 4px;
}

.fa-download {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 12px;
	top: 6px;
	color: white;
}

.text-down {
	position: absolute;
	height: 19px;
	left: 36px;
	right: 12px;
	top: calc(50% - 19px / 2);
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #ffffff;
	border-radius: 4px;
}

.favBT {
	cursor: pointer;
	box-sizing: border-box;
	position: absolute;
	left: 91.31%;
	right: 4.63%;
	top: 0%;
	bottom: 97.76%;
	background: #ed7839;
	border-radius: 4px;
}

.fa-star {
	position: absolute;
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	left: 12px;
	bottom: 9px;
	color: #ffffff;
}

.doiBT {
	cursor: pointer;
	box-sizing: border-box;
	position: absolute;
	left: 95.85%;
	right: 0.09%;
	top: 0%;
	bottom: 97.76%;
	background: #ed7839;
	border-radius: 4px;
}

#Doi {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 12px;
	top: 6px;
}

.citar {
	position: absolute;
	height: 25px;
	left: 820px;
	right: 0px;
	top: 43px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 25px;
	text-align: right;
	letter-spacing: 0.05em;
	color: #ed7839;
}

.video {
	position: absolute;
	width: 784px;
	height: 439px;
	left: 2px;
	top: 73px;
	background: rgba(141, 53, 6, 0.5);
	border-radius: 3px;
}

.video-titulo {
	position: absolute;
	width: 734px;
	height: 54px;
	left: 34px;
	right: 291px;
	top: 35px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 25px;
	letter-spacing: 0.05em;
	color: #ffffff;
}

.capavideo {
	filter: opacity(60%);
}

.gauss {
	position: absolute;
	left: 31px;
	right: 88.95%;
	top: 301px;
	bottom: 66.71%;
}

#Gauss {
	position: absolute;
	left: 5.45%;
	right: 5.45%;
	top: 4.95%;
	bottom: 4.95%;
	border-radius: 50px;
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border: 1px solid #ed7839;
}

.nome {
	position: absolute;
	height: 36px;
	left: 132px;
	top: 311px;
	width: 784px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 34px;
	line-height: 25px;
	letter-spacing: 0.05em;
	color: #ffffff;
}

.academia {
	position: absolute;
	height: 27px;
	left: 134px;
	top: 352px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.05em;
	color: #ffffff;
}

.detalhes {
	position: absolute;
	width: 242px;
	height: 439px;
	left: 816px;
	top: 73px;
	box-sizing: border-box;
	position: absolute;
	width: 242px;
	height: 439px;
	border: 1px solid #ececec;
	border-radius: 3px;
}

.detalhestexto {
	position: absolute;
	width: 212px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	display: flex;
	align-items: center;
	color: #4e4e4e;
	left: 15px;
	top: 11px;
}

.painel {
	box-sizing: border-box;
	position: absolute;
	width: 242px;
	height: 45px;
	background: #fdf1eb;
	border: 1px solid #ececec;
	border-radius: 3px 3px 0px 0px;
}

.scroll {
	position: absolute;
	width: 212px;
	height: 364px;
	top: 60px;
	left: 15px;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	position: absolute;
	width: 3px;
	left: 1049px;
	top: 128px;
	background: #e7e7e7;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	position: absolute;
	width: 3px;
	left: 1049px;
	top: 128px;
	background: #bfbfbf;
	border-radius: 5px;
}
.tipos {
	position: relative;
	font-size: 14px;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
}

#inst {
	position: relative;
	font-size: 13px;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	color: lightgray;
}

.resumo {
	position: absolute;
	top: 562px;
	width: 1058px;
	height: 189px;
	border: 1px solid #ececec;
	border-radius: 3px;
	box-sizing: border-box;
}

.painelHeader {
	background: #fdf1eb;
	height: 45px;
	width: 100%;
}

.tituloresumo {
	position: absolute;
	left: 15px;
	top: 10px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	display: flex;
	align-items: center;
	color: #4e4e4e;
}

.painelResumo {
	position: absolute;
	left: 15px;
	top: 60px;
	width: 1028px;
	height: 114px;
}

.textoresumo,
.textoexpandido {
	left: 45px;
	width: 1028px;
	height: 114px;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	letter-spacing: 0.02em;
	color: #5c5c5c;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}
.expanderesumo {
	display: none;
}

.textoexpandido {
	display: none;
}

.expanderesumo:checked + .painelResumo {
	height: 560px;
	position: absolute;
	width: 1028px;
	height: 485px;

}
.expanderesumo:checked + .painelResumo .textoexpandido {
	display: block;
	width: 1028px;
	padding-left: 15px;
	margin-left: -15px;
	border: 1px solid #ECECEC;
}


.footer {
	position: absolute;
	width: 1146px;
	height: 181px;
	left: -40px;
	top: 1216px;
}

.imagemfooter {
	position: absolute;
	left: 1.22%;
	right: 4.01%;
	top: 0%;
	bottom: 0%;
}
